body {
  font-family: 'Gilda Display', serif;
}

.main-logo {
  height: 130px;
  margin: 20px;
}

.App-header {
  text-align: center;
  background-color: #1c8e40;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.navbar {
  margin-bottom: 0;
  border: 0;
}

.landing-text-area {
  text-align: center;
}

.landing-page {
  padding-bottom: 40px;
}

.container {
  padding-bottom: 50px;
}

.footer {
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1c8e40;
  color: white;
}

.jumbotron {
  background: #e7e7e7;
}

.welcome-text, .reg-text {
  text-align: center;
  padding-left: 25px;
}

input {
  padding:4px;
  width: 350px;
  height: 30px;
  border-radius: 5px;
  border: #ccc solid 1px;
}

.form-group {
  padding-top: 10px;
}

.form-group > label {
  padding-right: 10px;
}

.fab {
  color: #4961B0;
  font-size: 35px;
  padding-right: 30px;
  padding-left: 30px;
}

.event-product-name {
  padding: 10px;
  margin: 0px;
}